<h1 id="table-header">Lista użytkowników</h1>
<div id="button-container">
  <button pButton type="button" label="Dodaj" routerLink="/create-user"></button>
  <button pButton type="button" label="Powrót" class="ui-button-secondary" routerLink="/"></button>
</div>
<div class="table-container">
  <p-table [columns]="cols" [value]="userList" [scrollable]="true" [style]="{width:'100%'}"
           selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onSelectRow()">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th class="buttonCol"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRowDblClick]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td class="buttonCol">
          <button pButton type="button" label="Usuń" class="ui-button-danger" (click)="onDeleteButtonClick(rowData)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
