#table-header
{
  font-size: 50px;
  font-family: Bahnschrift;
  text-align: center;
  margin: 3%;
  margin-left: 35%;
  width: 30%;
  float: left;
}

.table-container
{
  position: center;
  margin: 16%;
  margin-top: 5%;
  border: solid #bacdd3 1px;
  clear: both;
}

#button-container
{
  float: left;
  margin-top: 4%;
}

#button-container button
{
  padding: 5px;
  margin-left: 30px;
}

.buttonCol
{
  width: 9%;
}
