<div id="main">
  <div id="main-container">
    <h1>Dodaj użytkownika</h1>
    <form class="user-form">
      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input pInputText type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="Imię">
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input pInputText type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Nazwisko">
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input pInputText type="text" [(ngModel)]="user.nickName" name="nickName" placeholder="Ksywa">
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input pInputText type="text" [(ngModel)]="user.email" name="email" placeholder="E-mail">
        </div>
      </div>

      <button pButton type="button" class="ui-button-secondary" label="Powrót" routerLink=""></button>
      <button pButton type="button" icon="pi pi-check" iconPos="left" label="Utwórz" (click)="onCreateButtonClick()"></button>
    </form>
  </div>
</div>
