<div id="main">
  <div id="main-container">
    <h1>House of Talents 3</h1>
    <h3>Introduction microproject</h3>
    <div id="button-container">
      <button pButton type="button" class="ui-button-info" routerLink="create-user">Dodaj użytkownika</button>
      <button pButton type="button" class="ui-button-secondary" routerLink="show-user">Pokaż listę użytkowników</button>
    </div>
  </div>
</div>
