body
{
  background: #f1f1ed;
}

#main {
  font-family: Bahnschrift;
  text-align: center;

  position: center;
  padding-top: 100px;
  padding-left: 30%;
  padding-right: 30%;
}

#main h1 {
  font-size: 36px;
}

#main-container
{
  padding: 100px;
  border: solid 10px black;
  background: white;
}

